[Desktop Entry]
Type=Application
Name=Sysbar
Comment=Start Sysbar at login
Exec=sysbar
Icon=io.github.AndreaBonn.Sysbar
Terminal=false
Categories=Utility;System;
X-GNOME-Autostart-enabled=true
